<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Budgie - Yet Another Budgeting App</title>
</head>
<body>
    <header><img src="img/logo_bird.svg" alt=""></header>
    <main>
        <section class="to_budget">
            <h2>Amount to budget</h2>
        </section>

        <section class="categories">
            <h2>Categories</h2>
            <form action="/add-category" method="POST">
                <input type="text" name="category" id="category" placeholder="Category">
                <input type="number" name="amount" id="amount" step="0.01">
                <button type="submit">Add</button>
            </form>
        </section>
    </main>

    <script src="js/main.js"></script>
</body>
</html>